
    html{
      background-color: black;
    }
    h1{
      color: white;
      font-family:"libre baskerville" ;
      text-transform: capitalize;
      text-align: center;
      font-size: 30px;
    } 
    div{
      width: 50%;
      margin-left: 25%;
      
    }
    img{
      width: 100%;
      border: solid white;
    }
